<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite" parallel="methods" thread-count="3">
  <test name="webdriver_demo">
    <classes>
      <class name="automator.day6.BaiduScreenShot"/>
    </classes>
  </test> <!-- webdriver_demo -->
  <listeners>
          <listener class-name="autoframework.driver.testng.RetryListener"/>
          <listener class-name="autoframework.driver.testng.TestResultListener"/>
  </listeners>
</suite> <!-- Default Suite -->
